
<div class="hero-unit">
<h1>Welcome to Rails!</h1>
<p>You've found the home page for the 
<%= link_to "Google Me!" , "http://google.com" %>
</p>
<p>
	<%= link_to "Hey Hey Hey Joe", "#", class: "btn btn-primary btn-large" %> </p>
</div>

